body{
    padding: 0;
    margin: 0;
    background: #f7f7f7;
}
/*=============导航栏=======================*/
.header{
    width: 1500px;
    height: 70px;
    /*line-height: 70px;*/
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    /*background: #00ffff;*/
}
.header h1{
    display: inline;
}
.header img{
    width: 100px;
    height: auto;
}
.header .logo{
    width: 100px;
    height: 37px;
    margin-top: 15px;
    /*margin-right: 70px;*/
    margin-left: 200px;
    float: left;
}
.header .logo img{
    display: block;
}
img,input,label,select{
    vertical-align: middle;
}
nav{
    width: 440px;
}
.header nav{
    float: left;
    display: inline-block;
}
.header nav:hover ul{
    display: inline-block;
}
.header a,ul{
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    color: #555555;
}
.header nav li{
    color: #555;
    list-style: none;
    line-height: 35px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 15px;
    float: left;
    height: 55px;
    cursor: pointer;
    position: relative;
}
.header nav li i.icon-trangle{
    background: url(img/icon.png);
    background-position: 0px -47px;
    display: inline-block;
    width: 11px;
    /*margin-left: 5px;*/
    height: 7px;
}
.header .slide-menu{
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 1000;
    width: 200px;
    padding: 5px 0;
    background: #fff;
    border-top: 1px solid #E4E4E4;
    box-shadow: -1px 3px 5px rgba(000, 000, 000, 0.3);
    display: none;
}
.header .slider-menu strong{
    display: block;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    padding: 0px 15px;
    color: #b9b9b9;
    background: #fafafa;
}
.header .career-path .slide-menu a{
    line-height: 30px;
}
.header .slide-menu a{
    display: block;
    font-size: 12px;
    line-height: 35px;
    padding: 0px 15px;
}
.header .zhiye-menu a i.icon-web{
    background-position: -94px -23px;
}
.header .zhiye-menu a i{
    display: inline-block;
    float: left;
    height: 14px;
    width: 14px;
    margin-top: 8px;
    margin-right: 10px;
    background: url(img/icon.png);
}
.header .zhiye-menu a i.wechat-icon{
    background-position: -99px 0;
    margin-top: 7px;
}
.header .zhiye-menu a i.android-icon{
    background-position: 0 -26px;
}
.header .zhiye-menu a i.ios-icon{
    background-position: -48px -19px;
    margin-top: 6px;
}
.header .zhiye-menu a i.python-icon{
    background-position: -76px 0;
    margin-top: 8px;
}
.header .zhiye-menu a i.PHP-icon{
    background-position: -48px 0;
    width: 20px;
    margin-top: 10px;
    margin-left: -5px;
}
.header .zhiye-menu a i.golang-icon{
    background-position: -20px 35px;
    margin-top: 8px;
}
.header .zhiye-menu a i.bigdata-icon{
    background: url(http://e.jikexueyuan.com/headerandfooter/images/data.png);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin-left: -4px;
    margin-top: 3px;
    margin-right: 8px;
}
.header .qy-box i{
    display: inline-block;
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 8px;
    margin-right: 5px;
    background: url(img/company.png) no-repeat;
}
.header .qy-box i.ms-icon{
    background-position: -35px 0;
    margin-top: 11px;
}
.header .qy-box i.aws-icon{
    background-position: -20px 0;
    margin-top: 9px;
}
.header .qy-box i.tencent-icon{
    background-position: 0 0;
    width: 20px;
    margin-left: -2px;
    margin-top: 10px;
}
.header .qy-box i.Qualcomm-icon{
    background-position: -50px 0;
    margin-top: 10px;
    margin-left: 1px;
}
.header .search{
    border: 1px solid #e4e4e4;
    height: 32px;
    width: 240px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.header .searchinput{
    float: left;
    width: 190px;
    height: 30px;
    border:none;
    padding: 0 8px;
    border-right: 1px solid #e4e4e4;
    outline: none;
    font-size: 12px;
}
.header .search-icon{
    width: 18px;
    height: 18px;
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    display: inline-block;
    background:url(img/icon.png) 0 0 no-repeat;
    background-position: 0 0;
    cursor: pointer;
}
.header .nav-ot{
    display: inline-block;
    /*float: left;*/
    width: 130px;
    margin-left: 60px;
    height: 70px;
}
.header .center-box{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 9px;
}
.header .learn-center{
    background: url(img/center-icon.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    margin: 8px 0 0 8px;
    display: block;
}
.header .message{
    cursor: pointer;
    width: 15px;
    height: 18px;
    display: block;
    position: relative;
    margin: 7px 0 0 8px;
    background: url(img/icon.png) 0 0 no-repeat;
    background-position: -26px 0;
}
.header .nav-ot .user-login{
    width: 47px;
    height: 69px;
    display: inline-block;
    position: relative;
    float: right;
    margin-top: 15px;
}
.header .user-login a img{
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    float: right;
}
.header #uservip-icon{
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    top: 38px;
    left: 39px;
}
.header .user-slide a i{
    width: 12px;
    height: 12px;
    background: url(img/icon.png) 0 0 no-repeat;
    display: inline-block;
    margin-right: 12px;
    float: left;
}
.header a i.learncenter-icon{
    background-position: -42px -42px;
    margin-top: 11px;
    margin-left: 2px;

}
.header a i.homepage-icon{
    background-position: -70px -23px;
    width: 16px;
    height: 12px;
    margin-top: 11px;
}
.header a i.countset-icon{
    background-position: -62px -43px;
    width: 12px;
    height: 12px;
    margin-left: 2px;
    margin-top: 11px;
}
.header a i.quitload-icon{
    background-position: -20px -45px;
    width: 12px;
    height: 12px;
    margin-left: 3px;
    margin-top: 11px;
}
/*=============导航栏end=======================*/
#container{
    width:1002px;
    /*background-color: yellowgreen;*/
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 200px;
}
#container #leftList{
    width: 210px;
    height:525px;
    /*background-color: darkturquoise;*/
    float: left;

}
#container #leftList #classGuide{
    width:210px;
    height: 345px;
    border: 1px solid #35b558;
    /*background-color: darkcyan;*/
}
#container #leftList #classGuide #classLib{
    width: 210px;
    height:40px;
    /*background-color: yellow;*/
    border-bottom: 1px solid #e4e4e4;
}
#container #leftList #classGuide #classLib a{
    text-decoration: none;
    color: #555555;
    padding-left: 40px;
    line-height: 40px;
}
#container #leftList #classGuide #classLib a .lib_icon{
    width: 15px;
    height: 15px;
    display: block;
    background: url("lib/lib.png") no-repeat 0 0 / 15px 15px;
    position: absolute;
    margin-top: 12px;
    margin-left: 15px;
}
#container #leftList #classGuide ul{
    padding: 0;
    margin: 0;
    position: relative;
}
#container #leftList #classGuide .slide_left{
    width: 210px;
    height:37px;
    line-height: 37px;
    border-bottom: 1px solid #e4e4e4;
}
#container #leftList #classGuide .slide_left a{
    text-decoration: none;
    padding-left: 40px;
    color: #555555;
}
#container #leftList #classGuide .slide_left .subslide{
    width: 400px;
    min-height: 343px;
    background-color: #ffffff;
    margin-left: 210px;
    position: absolute;
    top: -42px;
    border: 1px solid #e4e4e4;
    display: none;
    z-index: 600;
}
#container #leftList #classGuide .slide_left .subslide dl{
    margin: 0 15px;
    overflow: hidden;
}
#container #leftList #classGuide .slide_left .subslide dt{
    display: block;
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 35px;
}
#container #leftList #classGuide .slide_left .subslide dt>a{
    color: #333;
    font-size: 13px;
    font-weight: 500;
    padding: 0px;
}
#container #leftList #classGuide .slide_left .subslide dd{
    list-style: none;
    margin-left: -8px;
    padding: 3px 0;
}
#container #leftList #classGuide .slide_left .subslide dd a{
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0 7px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    border-left: 1px solid #e0e0e0;
    float: left;
    white-space: nowrap;
    font-weight: 400;
}

#container #leftList #career{
    width:210px;
    height: 180px;
    /*background-color: #748b19;*/
}
#container #leftList #career .hidelist{
    width: 100%;
    margin: 0;
    padding: 0px;
}
#container #leftList #career .hidelist li{
    height: 45px;
}
#container #leftList #career .hidelist a{
    text-decoration: none;
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #333333;
    font-size: 14px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}
#container #leftList #career .hidelist a i{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: text-bottom;
}
#container #leftList #career .hidelist a .icon_zylj{
    background:url("https://s1.jikexueyuan.com/common/images/icon-zylj_6ee6dac.png") no-repeat left center;
    background-size: 15px 14px;
}
#container #leftList #career .hidelist a .icon_zstx{
    background: url("https://s1.jikexueyuan.com/common/images/icon-zstx_a1ae096.png")no-repeat left center;
    background-size: 15px 12.5px;
}
#container #leftList #career .hidelist a .icon_xlkc{
    background: url("https://s1.jikexueyuan.com/common/images/icon-xlkc_2e47588.png")no-repeat left center;
    background-size: 14px 14px;
}
#container #leftList #career .hidelist a .icon_kcbq{
    background: url("https://s1.jikexueyuan.com/common/images/icon-kcbq_65534c2.png")no-repeat left center;
    background-size: 15px 14px;
}
#container #leftList #career .hidelist a:hover{
    color: #35b558;
    background: #fafafa url(https://s1.jikexueyuan.com/common/images/img-seeall_b965178.png) no-repeat 160px center;
    background-size: 40px 10px;
}
#container #mainTitle{
    width:780px;
    height: 42px;
    background-color: #fff;
    float: left;
    margin-left: 10px;
}
#container #mainTitle .sortMode{
    overflow: visible;
    float: left;
    height: 38px;
}
#container #mainTitle .sortMode h3{
    float: left;
    padding: 0px 21px;
    background: #fff;
    border-right: 1px solid #f5f5f5;
    font-size: 12px;
    font-weight: 400;
    cursor: default;
}
#container #mainTitle .sortMode>dl{
    position: relative;
    z-index: 10;
    overflow: hidden;
    float: left;
    height: 36px;
    margin: 0px 1px 0px -1px;
    white-space: nowrap;
    z-index: 500;
}
#container #mainTitle .sortMode>dl:hover{
    height: auto;
    overflow: visible;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-width: 0px 1px 1px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.1);
}
#container #mainTitle .sortMode dt{
    padding: 0 18px;
    cursor: default;
}
#container #mainTitle .sortMode dt span{
    font-size: 12px;
    line-height: 36px;
}
#container #mainTitle .sortMode>dl:hover dt{
    padding: 0 17px;
}
#container #mainTitle .sortMode>dl:hover dt>.arrow{
    visibility: hidden;
}
#container #mainTitle .sortMode dt>.arrow{
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
#container #mainTitle .sortMode dt>.arrow:before{
    display: block;
    width: 0!important;
    height: 0!important;
    line-height: 0!important;
    padding: 0!important;
    font-size: 0!important;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-color:gray ;
    content: " ";
}
#container #mainTitle .sortMode dt>.arrow:after{
    position: absolute;
    left: 1px;
    bottom: 1px;
    border-width: 4px;
    border-bottom-width: 0;
    border-top-color: #fff;
}
#container #mainTitle .sortMode dd{
    margin: 0;
}
#container #mainTitle .sortMode dd a{
    display: block;
    padding: 0px 32px 0px 17px;
    font-weight: 500;
    color: gray;
    text-decoration: none;
    font-size: 13px;
}
#container #mainTitle .sortMode dd a:hover{
    color: #35b558;
}
#container #mainTitle .previeMode{
    float: right;
}
.previeMode ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.previeMode li{
    position: relative;
    float: left;
    width:36px;
    height: 38px;
    border-left: 1px solid #f5f5f5;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}
.previeMode .block_icon .icon{
    width: 14px;
    background: url("https://s1.jikexueyuan.com/course/images/icon-kuai_3c1a8cf.png")no-repeat 0 0;
    background-size: 14px;
}

.previeMode li .icon{
    position: relative;
    top: -1px;
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: middle;
    background: url("https://s1.jikexueyuan.com/course/images/icon-kuai_3c1a8cf.png")no-repeat 0 0;
}
.previeMode .list_icon .icon{
    width: 19px;
    background: url("https://s1.jikexueyuan.com/course/images/icon-list_6d9f87f.png")no-repeat 0 0;
    background-size:16px 12px;
}
/*=================lesson_list===================*/
#container #mainContent{
    width:780px;
    height: 800px;
    /*background-color: #3832e2;*/
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.lesson_list ul{
    padding: 0;
    margin: 0;
}
.lesson_list ul li{
    height: 225px;
    width: 250px;
    float: left;
    margin-right: 13px;
    margin-bottom: 30px;
}
.lesson_list li:nth-child(3n+3){
    margin-right: 0px;
}
.lesson_list .lessonimg-box{
    width: 100%;
    height: 135px;
    position: relative;
}
.lesson_list .lesson_shoucang{
    position: absolute;
    top:10px;
    left: 10px;
    width: 16px;
    height: 16px;
    background: url("https://s1.jikexueyuan.com/common/images/shoucang-1_76dc56f.png");
    background-size: 16px 16px;
    z-index: 101;
    cursor: pointer;
    display: none;
}
.lesson_list .lesson_shoucang:hover{
    background: url("https://s1.jikexueyuan.com/common/images/shoucang-2_3d597dc.png");
    background-size: 16px 16px;
}
.lesson_list .lessonimg-box .lessonimg{
    width: 100%;
    height: 135px;
}
.lesson_list .lessonplay{
    background: #000;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.lesson_list .lessonplay .player_icon{
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: none;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url("https://s1.jikexueyuan.com/common/images/player_icon_5c67475.png") 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;
}
.lesson_list .lesson_info{
    padding: 10px;
    position: relative;
    z-index: 200;
    height: 88px;
    overflow: hidden;
    background: #fff;
}

.lesson_list .lesson_info .lesson_info_h2{
    font-size: 14px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
}
.lesson_list .lesson_info .lesson_info_h2 a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
    width: 220px;
}
.lesson_list .lesson_info p{
    color: gray;
    font-size: 12px;
    line-height: 18px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-bottom: 10px;
    display: none;
}
/*===========hover==============*/
.lesson_list .lesson_info:hover p{
    color: gray;
    font-size: 12px;
    line-height: 18px;
    height: 52px;
    overflow: hidden;
    opacity: 1;
    margin-bottom: 10px;
    display: block;
}
.lesson_list .lesson_info:hover{
    padding: 10px;
    position: relative;
    z-index: 200;
    height: 175px;
    overflow: hidden;
    background: #fff;
}
/*===========lesson_info hover end===================*/
.lesson_list .lesson_info .timeandicon{
    font-size: 12px;
    color: gray;
    position: relative;
}
.cf{
    zoom: 1;
}
.cf .learn_number{
    float: right;
}
.lesson_list .lesson_info .timeandicon dl{
    width: 120px;
    float: left;
    white-space: nowrap;
    margin: 0;
}
.timeandicon dl dd{
    font-size: 12px;
    float: left;
    display: inline-block;
    margin-left: 0px;
    margin-right: 15px;
}
.mar_b8{
    margin-bottom: 8px;
}
.lesson_list .lesson_info .timeandicon .time_icon{
    background: url("https://s1.jikexueyuan.com/common/images/clok_a413ecf.png") 0 0 no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    background-size: 14px 14px;
}
.lesson_list .lesson_info .timeandicon .xinhao_icon2{
    background: url("https://s1.jikexueyuan.com/common/images/tow-ji_ec2b553.png") 0 0 no-repeat;
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
}
.cf:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.lesson_list .lesson_info .lessonicon_box{
    position: absolute;
    right: 0;
    text-align: right;
    bottom: 4px;
}
.lesson_list .lesson_info .lessonicon_box a{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
}
.lesson_list .lesson_info .lessonicon_box a img{
    display: block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-top: 8px;
}

/*===============页码===================*/
#page_list{
    text-align: center;
    margin-top: 17px;
}
#page_list ul.pages{
    display: block;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0 45px;
    padding: 0px;
}
ul.pages li{
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #e0e0e0;
    margin-left: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    background: #fff;
    color: #e4e4e4;
}
ul.pages li.nextPage{
    width: 50px;
}
ul.pages li:nth-child(2){
    width: 72px;
}
ul.pages li.pgCurrent{
    background: #35b558;
    color: #fff;
    border: 1px solid #35b558;
}
ul.pages li.pgEmpty{
    border: 1px solid #e0e0e0;
    color: #d9d6c3;
    width: 50px;
    cursor: default;
}
ul.pages li.thpoint{
    border: 0;
    cursor: auto;
    color: #000;
    background: none!important;
    margin-top: 3px;
}
ul.pages li.pagetotal{
    width: 70px;
}
ul.pages li.pagenow{
    width: 100px;
}
ul.pages li.thpoint{
    border: 0;
    cursor: auto;
    color: #000;
    background: none!important;
    margin-top: 3px;
}
ul.pages li.go{
    width: 32px;
    height: 22px;
    line-height: 22px;
    margin-top: 6px;
}

.foot{
    height: 152px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #e4e4e4;
    background: #fff;
    position: relative;
    /*background: #e4931c;*/
}
.foot .foot-content{
    width: 1002px;
    margin: 0 auto;
    text-align:center
}
.foot .foot-content .foot-contact{
    width: 240px;
    margin:20px auto;
}
.foot .foot-content .foot-contact .contact-way a{
    background: url(img/otherway.png)0 0 no-repeat;
    display: inline-block;
    width: 22px;
    height: 18px;
    margin-right: 20px;
}
.foot .foot-content .foot-contact .contact-way a.wexin-icon{
    background-position: -28px 0px;
}
.foot .foot-content .foot-contact .contact-way a.blog{
    background-position: 0px 0px;
}
.foot .foot-content .foot-contact .contact-way a.twitter{
    background-position: -104px 0px;
}
.foot .foot-content .foot-contact .contact-way a.google{
    background-position: -80px 0px;
}
.foot .foot-content nav{
    width: 1002px;
    border-bottom: 1px solid #f0f0f0;
    padding: 0 0 20px 0;
}
.foot .foot-content nav a{
    font-size: 13px;
    color: #666;
    text-decoration: none;
    padding: 4px 10px;
}
.foot .foot-content nav a:hover{
    color: #35b558;
}
.foot .foot-content nav i{
    color: #E4E4E4;
    font-style: normal;
}
.foot .Copyright{
    font-size: 13px;
    color: #999;
    padding: 10px 0;
}

footer .gotop{
    position: fixed;
    left: 50%;
    margin-left: 515px;
    top: 450px;
    width: 40px;
    text-align: center;
    z-index: 2000;
}
footer .gotop span{
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
}
footer .telicon{
    position: relative;
    background:#fff url(img/tel.png) 12px 10px no-repeat;
}
footer .telicon .tel-number{
    background: url(img/tel_number.png) center center no-repeat;
    background-size: 100%;
    width: 157px;
    height: 89px;
    position: absolute;
    z-index: 2100;
    left: -155px;
    top: -4px;
    display: none;
}
footer .gotop .telicon:hover .tel-number{
    display: block;
}
footer .wechat{
    position: relative;
    background: #fff url(img/wx.png) 12px 10px no-repeat;
}
footer .weixing{
    background: url(img/qrcode.png) center center no-repeat;
    background-size: 100%;
    width: 158px;
    height: 178px;
    position: absolute;
    z-index: 2100;
    left: -156px;
    top: -87px;
    display: none;
}
footer .gotop .wechat:hover .weixing{
    display: block;
}

footer .top i{
    display: block;
    width: 40px;
    height: 40px;
    background: #fff url(img/top.png) 11px 10px no-repeat;
}