*{
	margin:0;
	padding: 0;
}
table{
	width: 500px;
	height: 100px;
	margin:100px auto;
}
input{
	width: 450px;
	height: 100%;
	float: left;
	text-indent: 10px;
}
button{
	width: 44px;
	height: 100%;
	float: left;
}