body {
    font: 12px arial;
    margin: 0;
    padding: 0;
}

.wraper {
    position: relative;
    min-width: 810px;
    height: 600px;
    width: 100%;
}

input {
    outline: none;
}

header {
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
}


/*============换肤=================================*/

.skin {
    float: left;
}

.skin #change_skin {
    line-height: 30px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.skin #change_skin:hover {
    color: #317ef4;
    text-decoration: underline;
}

.skin ul {
    list-style: none;
    width: 380px;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    margin: 0;
    margin-top: 5px;
    margin-left: -140px;
    padding: 0;
    z-index: 100;
    display: none;
}

.skin ul li {
    float: left;
    margin-right: 10px;
}

.skin ul li:nth-child(3n+3) {
    margin-right: 0;
}

.skin ul li>img {
    width: 120px;
    height: 60px;
}

#background_img {
    position: fixed;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.background_1 {
    background: url('../img/1.jpg');
}

.background_2 {
    background: url('../img/2.jpg');
}

.background_3 {
    background: url('../img/3.jpg');
}

.background_4 {
    background: url('../img/4.jpg');
}

.background_5 {
    background: url('../img/5.jpg');
}

.background_6 {
    background: url('../img/6.jpg');
}


/*============换肤end=================================*/


/* ===============天气预报==================== */

em {
    font-style: normal;
}

header .weather a {
    text-decoration: none;
}

header .weather a .show_weather {
    float: left;
    line-height: 30px;
    margin-left: 20px;
}

.show_weather .show_icon_temp {
    margin-right: 5px;
    font-size: 12px;
    color: #333;
}

.show_city .showcity_name {
    margin-right: 5px;
    font-size: 12px;
    color: #333;
}

.show_weather>.cur_weather_img {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: url("../img/a0_night.png?__sprite");
}

header .weather a .show-polution {
    margin-left: 10px;
    float: left;
    line-height: 30px;
}

.show-polution .show-polution-name {
    color: orange;
    font-size: 10px;
    margin-right: 5px;
}

.show-polution .show-polution-num {
    margin-right: 5px;
    font-size: 12px;
    color: #333;
}

.future_weather {
    position: absolute;
    width: 550px;
    height: 230px;
    margin-top: 35px;
    margin-left: 10px;
    z-index: 10;
    top: -1px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: none;
}

.future_weather .trangle_up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #d8d8d8;
    position: absolute;
    top: -10px;
    left: 25px;
}

.future_weather ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    clear: both;
}

.future_weather ul>li {
    float: left;
    margin-left: 20px;
}

.future_weather ul>li p {
    color: #333;
    text-align: center;
    font-weight: bold;
}

.future_weather ul>li a p:hover {
    color: #3385ff;
}

.future_weather>p {
    margin-left: 20px;
}

.future_weather>p a {
    color: #333;
}


/* ===============天气预报END==================== */

header nav {
    float: right;
    margin: 5px 0 5px 0;
    padding: 0 250px 0 0;
}

header nav a {
    margin-left: 20px;
    color: #333;
    float: left;
    line-height: 24px;
    font-weight: bold;
    font-size: 13px;
}

#login {
    position: absolute;
    color: #333;
    line-height: 24px;
    font-size: 13px;
    width: 45px;
    height: 25px;
    margin-top: 5px;
    right: 190px;
    text-align: center;
    text-decoration: underline;
}

#setting {
    position: absolute;
    line-height: 24px;
    font-size: 13px;
    font-weight: bold;
    width: 45px;
    height: 25px;
    right: 120px;
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
}

#login a,
#setting a {
    margin: 0;
    color: #333;
    text-decoration: none;
}

#login:hover #myAcount,
#setting:hover .baidu_setting {
    display: block;
}

#login #myAcount,
#setting .baidu_setting {
    position: absolute;
    top: 28px;
    left: 0px;
    width: 60px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px #ddd;
    display: none;
    z-index: 99;
}

#login #myAcount a,
#setting .baidu_setting a {
    display: inline-block;
    width: 100%;
    color: #333;
    margin-bottom: 5px;
}

#login #myAcount a:hover,
#setting .baidu_setting a:hover {
    color: #ffffff;
    background-color: #3385ff;
}

#login .icon-trangle {
    top: -11px;
    left: 25px;
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #2a73d8;
}

#setting .icon-trangle {
    top: -11px;
    left: 25px;
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #367fd8;
}

#login .icon-trangle:after,
#setting .icon-trangle:after {
    content: ".";
    top: -5px;
    left: -5px;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border: 5px solid transparent;
    border-style: dashed dashed solid dashed;
    border-bottom-color: #d8d8d8;
    border-bottom-color: #ffffff;
}

#moreProduct {
    right: 0;
    position: absolute;
    top: 0;
    height: 100%;
    min-height: 600px;
    width: 100px;
    z-index: 999;
}

#moreProduct ul {
    padding: 0;
    text-align: center;
    margin: 0;
}

#moreProduct li {
    list-style: none;
    position: relative;
    height: 70px;
    border-bottom: 1px solid #ddd;
}

#moreProduct a {
    color: #333;
    text-decoration: none;
    display: block;
}

#moreProduct ul li>a:hover {
    text-decoration: underline;
}

#moreProduct #more_sub_btn {
    height: 35px;
    background-color: #3385ff;
}

#more_sub_btn ul {
    display: none;
}

#moreProduct #more_sub_btn>a {
    line-height: 35px;
    color: #ffffff;
    font-size: 13px;
    display: block;
}

#moreProduct #more_sub_zero {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    background: url("../logo/bdbri.png")0 0 no-repeat;
}

#moreProduct #more_sub_one {
    display: block;
    width: 40px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 5px;
    background: url("../logo/music.png")0 0 no-repeat;
}

#moreProduct #more_sub_two {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 5px;
    background: url("../logo/image.png")0 0 no-repeat;
}

#moreProduct #more_sub_three {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 5px;
    background: url("../logo/zhidao.png")0 0 no-repeat;
}

#moreProduct #more_sub_four {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 5px;
    background: url("../logo/wenku.png")0 0 no-repeat;
}

#moreProduct #more_sub_five {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 5px;
    background: url("../logo/bang.png")0 0 no-repeat;
}

#moreProduct #more_sub_six {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    margin-bottom: 5px;
    background: url("../logo/tuiguang.png")0 0 no-repeat;
}

#moreProduct #allProduct {
    line-height: 60px;
}


/*====================header END========================================*/

#content {
    position: relative;
    text-align: center;
}


/* ======search/floatsearch ========*/

#content .float_search_area {
    width: 100%;
    height: 100px;
    top: 0;
    position: fixed;
    line-height: 100px;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    z-index: 1000;
    display: none;
}

#content .float_search_area #img_float {
    width: 110px;
    height: 60px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 300px;
}

#content #search_area {
    position: relative;
    height: 190px;
    margin: 0 auto;
    top: 20px;
}

#content .float_area {
    vertical-align: middle;
    float: left;
}

#content img {
    width: 270px;
    height: 129px;
}

#content #search_input,
#content #float_search_input {
    border: 1px solid #ccc;
    text-indent: 10px;
    width: 539px;
    height: 28px;
    padding: 3px 0 3px 7px;
    vertical-align: middle;
    border-right-width: 0;
}

#content #search_input:hover,
#content #float_search_input:hover {
    border-color: #999 transparent #b3b3b3 #999;
}

#content #search_input:focus,
#content #float_search_input:focus {
    border-color: #4791ff transparent #4791ff #4791ff;
}

#content #search_btn,
#content #float_search_btn {
    width: 100px;
    height: 37px;
    margin: -5px;
    color: white;
    font-size: 15px;
    border: 1px solid #38f;
    background: #3285ff;
    letter-spacing: 1px;
    vertical-align: middle;
    cursor: pointer;
}

#content #search_btn:hover,
#content #float_search_btn:hover {
    background-color: #317ef4;
}

#content form {
    position: relative;
}


/* ===搜索框照相机==== */


/* #content .icon-camera {
    position: absolute;
    z-index: 1;
    right: 465px;
    top: 20px;
    margin-top: -8px;
    width: 18px;
    height: 16px;
    background: url("img/camera_new.png")no-repeat;
    cursor: pointer;
}

#content .icon-camera:hover {
    background-position: 0px -20px;
} */

#content .icon-camera {
    position: absolute;
    right: 465px;
    top: 20px;
    margin-top: -8px;
    width: 18px;
    height: 16px;
    background: url("../img/camera_new.png?__sprite")no-repeat;
    cursor: pointer;
}

content .icon-camera:hover {
    background-position: 0px -20px;
}


/* ===搜索框照相机end==== */

#myFocus {
    width: 900px;
    height: 300px;
    margin: 80px auto;
}

#myFocus #myConcern {
    width: 900px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
}

#myFocus #myConcern .myConcernIcon {
    background-image: url("../img/user.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    background-color: #9a9da2;
    float: left;
}

#one,
#two,
#three {
    cursor: pointer;
}

#myFocus #myConcern .myConcern_style {
    /*padding-left: 20px;*/
    text-align: center;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 60px;
    border-right: 1px solid #d8d8d8;
    float: left;
}

#myFocus #myConcern #setIcon {
    float: right;
    margin-right: 10px;
    line-height: 40px;
}

#myFocus #myConcern #setIcon img {
    width: 16px;
    height: 16px;
    right: 0px;
}

#myFocus #myGuide {
    width: 900px;
    min-height: 40px;
    line-height: 40px;
    /*background-color: #3be243;*/
    text-align: left;
    border: 1px solid #d8d8d8;
    border-top: 0;
    background-repeat: no-repeat;
}

#myFocus #myGuide a {
    background-image: url("../img/left01.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 30px;
    text-decoration: none;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
}

#myFocus #myGuide #guideList {
    float: right;
    text-align: right;
    margin-right: 10px;
    display: none;
}

#myFocus #myGuide #guideList a {
    background-image: none;
}

#myFocus #myGuide #guideList a,
label {
    margin-right: 15px;
    text-decoration: none;
    color: #333333;
    font-size: 13px;
}

#myFocus #myGuide #subList {
    width: 100px;
    height: 40px;
    display: none;
}

#myFocus #myGuide #subList a {
    color: #333333;
    font-size: 13px;
    text-decoration: none;
    margin-left: 10px;
    background-image: none;
}

#myFocus #myGuide #subList a img {
    width: 16px;
    height: 16px;
}

#myFocus #subList span {
    line-height: 42px;
}

#myFocus #mydef {
    width: 900px;
    height: 200px;
    border: 1px solid #d8d8d8;
    border-top: 0px;
    text-align: left;
    padding-top: 10px;
}

#myFocus #mydef a {
    margin-left: 10px;
    text-decoration: none;
    color: #333333;
    font-size: 13px;
}

#myFocus #mydef a img {
    width: 16px;
    height: 16px;
}

#myFocus #mydef #myown {
    width: 500px;
    height: 150px;
    border: 1px solid #d8d8d8;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}

#myFocus #mydef #myown #mycare {
    margin: 10px;
    float: left;
}

#myFocus #mydef #myown #mycare #guide {
    margin: 10px;
    border: 1px dashed #d8d8d8;
    width: 60px;
}

#myFocus #mydef #myown #careless {
    margin-left: 150px;
    margin-top: 10px;
}

#myFocus #mydef #myown #careless ul {
    list-style: none;
    margin: 10px;
    padding: 0px;
}

#myFocus #mydef #myown #careless li {
    border: 1px dashed #d8d8d8;
    width: 60px;
    float: left;
    margin-left: 5px;
}

#myFocus .recommend {
    width: 900px;
    position: relative;
    height: 100px;
    display: none;
    cursor: pointer;
    /*background-color: #3385ff;*/
}

#myFocus .recommend a {
    text-align: left;
    text-decoration: none;
}

#myFocus .recommend a img {
    height: 100px;
    width: 200px;
    float: left;
    margin-right: 20px;
}

#myFocus .recommend a h2 {
    padding-top: 20px;
}

#myFocus .recommend .news_hot {
    margin-top: 20px;
    float: left;
}

.guide {
    display: none;
}

.content {
    display: block;
}

#myFocus .direct {
    position: relative;
    width: 900px;
    height: 100px;
    display: none;
    cursor: pointer;
}

#myFocus .direct h1 {
    font-size: 14px;
    text-align: left;
    margin: 8px 0px 4px;
    padding: 0;
}

#myFocus .direct .nav-list {
    display: inline-block;
    /* float: left; */
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
}

#myFocus .direct .nav-list a {
    height: 58px;
    line-height: 58px;
    width: 126px;
    position: relative;
    background-color: #fcfcfc;
    display: block;
}

#myFocus .direct .nav-list a img {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    width: 16px;
}

#myFocus .direct .nav-list a span {
    position: absolute;
    text-align: left;
    left: 44px;
    color: #333;
    font-size: 14px;
    padding: 0;
    /* max-width: 71px; */
    width: 71px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

#backTop {
    height: 50px;
    line-height: 80px;
}

#backTop #ArrowPosition {
    width: 50px;
    height: 50px;
    border: 1px solid #d8d8d8;
    float: right;
    margin-right: 80px;
    cursor: pointer;
}

#backTop #ArrowPosition img {
    width: 32px;
    height: 32px;
}

footer p img {
    width: 25px;
}

footer {
    position: static;
    margin-top: 100px;
    bottom: 0px;
    text-align: center;
    padding-top: 50px;
    width: 100%;
}

footer p {
    text-align: center;
}

footer p a {
    color: #9a9da2;
}